# direnv Configuration
python_version_file="../.python-version";  # ⚠️ Use parent directory file
python_version=$(cat ${python_version_file});
echo "Python Version: ${python_version}";

layout pyenv ${python_version}
